/* IMPOSTAZIONI GENERALI */

#id {
  max-width: 500px;
  margin: 0;
}

/* HEADER */

header {
  border-bottom: 3px solid black;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
  background-color: #489ec2;
}
.curriculum {
  color: #d4e7ed;
  width: 500px;
  height: 30px;
  text-align: center;
  font-weight: bolder;
}
.nome {
  color: #03282a;
  background-color: #fafffb;
  text-align: center;
}

#Modifica {
  text-align: center;
}

/* MAIN */

h2 {
  text-align: center;
  color: #1c556d;
  text-transform: uppercase;
  font-size: 20px;
}

/* ELEMENTI NEL MAIN */

/* FOOTER */
